* {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

body {
  color: white;
  text-align: center;
  background-image: url("../img/pelouse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

body h1 {
  padding: 20px 0 50px;
}

body img {
  width: 90px;
  height: auto;
}

body .mole {
  width: 90px;
  height: 90px;
}

body #taupi {
  border: none;
  background-color: transparent;
  background-image: url("../img/250px-Taupiqueur-RFVF.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body #trioN {
  border: none;
  background-color: transparent;
  background-image: url("../img/500px-Triopikeur-RFVF.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body #trioA {
  border: none;
  background-color: transparent;
  background-image: url("../img/1200px-Triopikeur_d'Alola-SL.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body div#game table {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
}

body div#game table#three td {
  height: 33%;
}

body div#game table#three td tr {
  width: 33%;
}

body div#game table#four td {
  height: 25%;
}

body div#game table#four td tr {
  width: 25%;
}

body div#game table#five td {
  height: 20%;
}

body div#game table#five td tr {
  width: 20%;
}
